### Modeling FTR Pricing Bins Discretization

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import KBinsDiscretizer

In [2]:
df = pd.read_csv('C:/Users/sgulbin/Work/Analysis/FTR_score_v2/ftr_for_discretization.csv')
map_k_to_score = pd.read_csv('C:/Users/sgulbin/Work/Analysis/FTR_score_v2/ftr_score_map.csv')
map_score_to_pricing = pd.read_csv('C:/Users/sgulbin/Work/Analysis/FTR_score_v2/preScore_map.csv')

In [10]:
df.K_ftr_AS_IS.quantile(0.82)

1.133

In [22]:
est = KBinsDiscretizer(n_bins=100, encode='ordinal', strategy='quantile')
est.fit(df[['K_ftr_AS_IS']])
Xt = est.transform(df[['K_ftr_AS_IS']])
df['percentile'] = Xt
df

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_discretization.py:222: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

,user_id,K_ftr_AS_IS,ftr_score_AS_IS,DrivingStyle_coefficient_AS_IS,percentile,percentile2
0,19500007,0.72270,0.99,0.80,1.0,0.05
1,19500042,0.70000,1.00,0.80,0.0,0.00
2,19500087,0.90250,0.66,1.00,32.0,0.98
3,19500110,0.81000,0.86,0.95,14.0,0.41
4,19500117,0.79200,0.89,0.85,10.0,0.32
...,...,...,...,...,...,...
1293043,2146250523,0.79310,0.89,0.85,11.0,0.33
1293044,2146250531,1.17420,0.07,1.35,77.0,2.28
1293045,2146250536,1.01970,0.36,1.07,54.0,1.66
1293046,2146250544,1.23497,0.03,1.35,83.0,2.47
1293047,2146250567,1.24630,0.02,1.35,85.0,2.50

In [32]:
df.quantile(0.52)

user_id                           4.417514e+08
K_ftr_AS_IS                       9.702000e-01
ftr_score_AS_IS                   5.300000e-01
DrivingStyle_coefficient_AS_IS    1.070000e+00
percentile                        4.600000e+01
percentile2                       1.410000e+00
Name: 0.52, dtype: float64

In [30]:
df[df['K_ftr_AS_IS']<= 0.9702]

,user_id,K_ftr_AS_IS,ftr_score_AS_IS,DrivingStyle_coefficient_AS_IS,percentile,percentile2
0,19500007,0.7227,0.99,0.80,1.0,0.05
1,19500042,0.7000,1.00,0.80,0.0,0.00
2,19500087,0.9025,0.66,1.00,32.0,0.98
3,19500110,0.8100,0.86,0.95,14.0,0.41
4,19500117,0.7920,0.89,0.85,10.0,0.32
...,...,...,...,...,...,...
1293035,2146250427,0.9682,0.48,1.07,45.0,1.38
1293038,2146250461,0.7828,0.91,0.85,9.0,0.28
1293039,2146250490,0.7931,0.89,0.85,11.0,0.33
1293042,2146250520,0.8652,0.74,0.95,25.0,0.76
1293043,2146250523,0.7931,0.89,0.85,11.0,0.33