In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import roc_auc_score

In [3]:
df = pd.read_csv('C:/Users/sgulbin/Work/Analysis/FTR_score_v2/dataset.csv', low_memory = False)
df.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753775 entries, 0 to 753774
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   user_id                      753775 non-null  int64
 1   mobile_code                  753775 non-null  int64
 2   mobile_operator              753775 non-null  object
 3   region_name_en               753775 non-null  object
 4   sex                          753775 non-null  object
 5   age                          753714 non-null  float64
 6   age_grouped                  753714 non-null  object
 7   license_category             575365 non-null  object
 8   A                            753775 non-null  int64
 9   B                            753775 non-null  int64
 10  C                            753775 non-null  int64
 11  D                            753775 non-null  int64
 12  E                            753775 non-null  int64
 13  CE                           753775 non-null  int64
 14  M                            753775 non-null  int64
 15  Tm                           753775 non-null  int64
 16  Tb                           753775 non-null  int64
 17  other_than_B                 753775 non-null  bool
 18  other_than_A_or_B            753775 non-null  bool
 19  birth_place                  643267 non-null  object
 20  exp                          753593 non-null  float64
 21  exp_grouped                  753775 non-null  object
 22  PassportDepartmentCode       273481 non-null  object
 23  Region                       271201 non-null  object
 24  Region_group                 270842 non-null  object
 25  passport_number              753141 non-null  object
 26  passport_number_nmbr_format  753141 non-null  object
 27  Russian_citizenship          753141 non-null  object
 28  compare_reg_vs_loc           282976 non-null  object
 29  kbm                          666785 non-null  float64
 30  kbm_grouped                  666785 non-null  object
 31  ride_time                    753775 non-null  float64
 32  paid_time                    753775 non-null  float64
 33  accidents_count              753775 non-null  int64
 34  accidents_fact               753775 non-null  int64
 35  count_0_20                   753775 non-null  int64
 36  count_20_40                  753775 non-null  int64
 37  count_40_100                 753775 non-null  int64
 38  count_100                    753775 non-null  int64
 39  accidents_order_sum          753775 non-null  float64
 40  cost_0_20                    753775 non-null  float64
 41  cost_20_40                   753775 non-null  float64
 42  cost_40_100                  753775 non-null  float64
 43  cost_100                     753775 non-null  float64
dtypes: bool(2), float64(10), int64(17), object(15)
memory usage: 243.0+ MB

In [4]:
df.head()

,user_id,mobile_code,mobile_operator,region_name_en,sex,age,age_grouped,license_category,A,B,...,accidents_fact,count_0_20,count_20_40,count_40_100,count_100,accidents_order_sum,cost_0_20,cost_20_40,cost_40_100,cost_100
0,21018821,916,МТС,Moscow,M,32.0,32,B,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,19843351,926,Мегафон,Moscow,M,30.0,30,B B1,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
2,953000068,911,МТС,St. Petersburg,M,37.0,37,"A, A1, B, B1, M",1,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,19758531,964,Билайн,Moscow,M,32.0,32,B,0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,171750384,977,Теле2,Moscow,M,21.0,21,NaN,0,0,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [85]:
columns = ['sex', 'age_grouped', 'exp_grouped', 'other_than_B', 'kbm_grouped', 'Region_group', 'accidents_fact']
ds = df[columns]
ds['Region_group'] = ds['Region_group'].fillna(0)
ds['kbm_grouped'] = ds['kbm_grouped'].fillna(0)
ds['age_grouped'] = ds['age_grouped'].replace('50+',50)
ds = ds.dropna(subset=['age_grouped'], how = 'any')
ds['age_grouped'] = ds['age_grouped'].astype(str).astype(int)
ds['exp_grouped'] = ds['exp_grouped'].replace('32+',32)
ds['exp_grouped'] = ds['exp_grouped'].astype(str).astype(int)
oh_sex = pd.get_dummies(ds['sex'])
oh_lcns = pd.get_dummies(ds['other_than_B'])
oh_lcns.columns = ['only_B', 'other_than_B']
oh_rgn = pd.get_dummies(ds['Region_group'])
oh_rgn.columns = oh_rgn.columns = ['no_region']+list(oh_rgn.columns[1:])
oh_kbm = pd.get_dummies(ds['kbm_grouped'])
oh_kbm.columns = oh_kbm.columns = ['no_kbm']+list(oh_kbm.columns[1:])
ds = ds.drop(['sex', 'other_than_B', 'Region_group', 'kbm_grouped'], axis = 1)
ds = ds.join(oh_sex)
ds = ds.join(oh_lcns)
ds = ds.join(oh_rgn)
ds = ds.join(oh_kbm)
y = ds['accidents_fact']
ds = ds.drop(['accidents_fact'], axis = 1)
X = ds
X.info()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

<class 'pandas.core.frame.DataFrame'>
Int64Index: 753714 entries, 0 to 753774
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age_grouped        753714 non-null  int32
 1   exp_grouped        753714 non-null  int32
 2   F                  753714 non-null  uint8
 3   M                  753714 non-null  uint8
 4   only_B             753714 non-null  uint8
 5   other_than_B       753714 non-null  uint8
 6   no_region          753714 non-null  uint8
 7   Дальневосточный    753714 non-null  uint8
 8   Приволжский        753714 non-null  uint8
 9   Северо-Западный    753714 non-null  uint8
 10  Северо-Кавказский  753714 non-null  uint8
 11  Сибирский          753714 non-null  uint8
 12  Уральский          753714 non-null  uint8
 13  Центральный        753714 non-null  uint8
 14  Южный              753714 non-null  uint8
 15  no_kbm             753714 non-null  uint8
 16  0.5+               753714 non-null  uint8
 17  0.7+               753714 non-null  uint8
 18  0.8+               753714 non-null  uint8
 19  0.9+               753714 non-null  uint8
 20  1                  753714 non-null  uint8
 21  1.4+               753714 non-null  uint8
 22  2.3+               753714 non-null  uint8
dtypes: int32(2), uint8(21)
memory usage: 46.6 MB

In [86]:
from xgboost import XGBRegressor
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
features = [['age_grouped','exp_grouped'],['F','M'],['only_B', 'other_than_B'],\
            ['no_region','Дальневосточный','Приволжский','Северо-Западный','Северо-Кавказский', 'Сибирский', 'Уральский', 'Центральный', 'Южный'],\
            ['0.5+','0.7+','0.8+','0.9+','1','1.4+','2.3+']]
X = X[['age_grouped','exp_grouped','0.5+','0.7+','0.8+','0.9+','1','1.4+','2.3+','F','M']]
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
model = XGBRegressor()

model.fit(train_X, train_y)
val_predictions = model.predict(val_X)
val_roc_auc = roc_auc_score(val_y, val_predictions) 
print(val_roc_auc)
# tree.plot_tree(model)
# tree.plot_tree(model,
#                feature_names = X.columns, 
#                filled = True)

0.6763108726910192

In [73]:
# linear regression feature importance
from xgboost import XGBRegressor
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot
# define dataset
# X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, random_state=1)
# define the model
# model = DecisionTreeRegressor()
model = XGBRegressor()
# fit the model
model.fit(X, y)
# get importance
importance = model.feature_importances_
# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.04762
Feature: 1, Score: 0.06298
Feature: 2, Score: 0.05945
Feature: 3, Score: 0.00000
Feature: 4, Score: 0.06045
Feature: 5, Score: 0.00000
Feature: 6, Score: 0.04415
Feature: 7, Score: 0.04885
Feature: 8, Score: 0.05262
Feature: 9, Score: 0.03585
Feature: 10, Score: 0.04398
Feature: 11, Score: 0.04260
Feature: 12, Score: 0.04066
Feature: 13, Score: 0.03783
Feature: 14, Score: 0.04083
Feature: 15, Score: 0.06572
Feature: 16, Score: 0.03706
Feature: 17, Score: 0.02916
Feature: 18, Score: 0.03053
Feature: 19, Score: 0.06340
Feature: 20, Score: 0.07476
Feature: 21, Score: 0.02725
Feature: 22, Score: 0.05422

In [83]:
features = [['age_grouped','exp_grouped'],['F','M'],['only_B', 'other_than_B'],\
            ['no_region','Дальневосточный','Приволжский','Северо-Западный','Северо-Кавказский', 'Сибирский', 'Уральский', 'Центральный', 'Южный'],\
            ['0.5+','0.7+','0.8+','0.9+','1','1.4+','2.3+']]
for i,e in features:
    print(i)
    print(e)

age_grouped
exp_grouped
F
M
only_B
other_than_B

ValueError: too many values to unpack (expected 2)