In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('''тут таблица с birth_place''')

________

In [14]:
df.birth_place = df.birth_place.str.upper().str.strip()

In [15]:
df.birth_place = df.birth_place.str.replace('.', '. ').str.strip().str.strip('.').str.replace('  ', ' ')

In [16]:
df.birth_place = df.birth_place.map(
    {
        record: record.replace('Г.', 'ГОР.')#.replace('ГОРОД ', 'ГОР. ').replace('Г ', 'ГОР. ')  
        if pd.notnull(record) else np.nan 
        for record in df.birth_place.unique()
    }
)

In [17]:
# выявляем дагестанцев
dagestan = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('дагестан' in name)|('махачкал' in name)|('хасавюрт' in name)|('дербент' in name)|('буйнакск' in name)
        |(('каспийск' in name)&('калмы' not in name))):
        dagestan.append(name.upper())
#         print(name.upper())

In [18]:
# из чечни
chechnya_ingush = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('чечен' in name)|('грозный' in name)|('урус-мартан' in name)|('гудермес' in name)
        |('ингуш' in name)|('назран' in name)|('сунж' in name)|('карабулак' in name)
    ):
        chechnya_ingush.append(name.upper())
#         print(name.upper())

In [19]:
mosk = ['ГОР. МОСКВА', 'ГОРОД МОСКВА', 'МОСКВА']

In [20]:
kalmik = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('калмык' in name)|('элиста' in name)|('лагань' in name)
    ):
        kalmik.append(name.upper())
#         print(name.upper())

In [21]:
tadzhik = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('таджикист' in name)|('душанбе' in name)|('худжанд' in name)|('бохтар' in name)|('куляб' in name)
        |('истаравшан' in name)
    ):
        tadzhik.append(name.upper())
#         print(name.upper())

In [22]:
uzbek = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('узбек' in name)|('нукус' in name)|('турткуль' in name)|('ходжейли' in name)|('беруни' in name)
        |('чимбай' in name)
    ):
        uzbek.append(name.upper())
#         print(name.upper())

In [23]:
kazah = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('казах' in name)|('алма-ата' in name)|('нур-султан' in name)|('шымкент' in name)|('актобе' in name)
        |('караганда' in name)|('КА3АХСТАН'.lower() in name)
    ):
        kazah.append(name.upper())
#         print(name.upper())

In [24]:
mosk_obl = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        (('москов' in name)&('обл' in name))
        |('балаших' in name)|('подольск' in name)|('химки' in name)|('королев' in name)|('королёв' in name)|('мытищи' in name)
        |('люберцы' in name)|('красногорск' in name)|('электросталь' in name)|('коломна' in name)|('одинцово' in name)
        |('домодедов' in name)|('серпухов' in name)
    ):
        mosk_obl.append(name.upper())
#         print(name.upper())

In [25]:
bashkir = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('башкир' in name)|('башкортост' in name)|('уфа' in name)|('уфим' in name)|('салават' in name)|('стерлитамак' in name)
        |('нефтекамск' in name)
    ):
        bashkir.append(name.upper())
#         print(name.upper())

In [26]:
stavropol = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('ставрополь' in name)|('пятигорск' in name)|('ессентуки' in name)|('михайловск' in name)|('кисловодск' in name)
        |('невинномысск' in name)
    ):
        stavropol.append(name.upper())
#         print(name.upper())

In [27]:
chuvash = []
for name in df['birth_place'].dropna().unique():
    name = name.lower()
    if (
        ('чуваш' in name)|('чебоксар' in name)|('новочебоксарск' in name)|('канаш' in name)|('алатырь' in name)
    ):
        chuvash.append(name.upper())
#         print(name.upper())

In [30]:
# +++
df['is_dagestan'] = np.where(df.birth_place.isin(dagestan), 1, 0)
df['is_chechnya_ingush'] = np.where(df.birth_place.isin(chechnya_ingush), 1, 0)
df['is_mosk'] = np.where(df.birth_place.isin(mosk), 1, 0)
df['is_kalmik'] = np.where(df.birth_place.isin(kalmik), 1, 0)
df['is_tadzhik'] = np.where(df.birth_place.isin(tadzhik), 1, 0)
df['is_uzbek'] = np.where(df.birth_place.isin(uzbek), 1, 0)
df['is_kazah'] = np.where(df.birth_place.isin(kazah), 1, 0)
df['is_mosk_obl'] = np.where(df.birth_place.isin(mosk_obl), 1, 0)
df['is_bashkir'] = np.where(df.birth_place.isin(bashkir), 1, 0)
df['is_stavropol'] = np.where(df.birth_place.isin(stavropol), 1, 0)
df['is_chuvash'] = np.where(df.birth_place.isin(chuvash), 1, 0)